@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Opus Technologies Bot</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" />
</head>
<body>

    <article class="weui-article">
        <section>
            <h2 class="title"></h2>
            <section>
                <h2 class="title">গ্রাহকের প্রশ্নে আপনাকে স্বাগতম।</h2>
                <p style="text-align: justify;">
                    আমাদের কেয়ার লাইন আপনার প্রশ্ন এর উত্তর যত তাড়াতাড়ি সম্ভব দিবে দয়া করে অপেক্ষা করুন।
                </p>
            </section>
        </section>

        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">রিসিভড</h2>
                <p class="weui-msg__desc">আপনার প্রশ্নের জন্য ধন্যবাদ।</p>
            </div>
        </div>

    </article>

</body>
</html>