################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/FileContentIndex/0b2bc2ad-0d03-460f-831d-4d1dc6b05f2b.vsidx
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/FileContentIndex/42789bca-1cec-4ced-a2c9-579be87673b0.vsidx
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/FileContentIndex/b056d688-1a53-458f-87cb-939564351a91.vsidx
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/FileContentIndex/cd08a15d-94c3-43c8-895a-224b6018fa86.vsidx
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/DesignTimeBuild/.dtbcache.v2
/Opus_ChatBot_HealthCare_8/.vs/ProjectEvaluation/opus_chatbot_healthcare_8.metadata.v9.bin
/Opus_ChatBot_HealthCare_8/.vs/ProjectEvaluation/opus_chatbot_healthcare_8.projects.v9.bin
/Opus_ChatBot_HealthCare_8/.vs/ProjectEvaluation/opus_chatbot_healthcare_8.strings.v9.bin
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/v17/.futdcache.v2
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/v17/.suo
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/v17/DocumentLayout.backup.json
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/v17/DocumentLayout.json
/Opus_ChatBot_HealthCare_8/.vs/Opus_ChatBot_HealthCare_8/v17/fileList.bin
*.vsidx
/Opus_ChatBot_HealthCare_8/Opus_ChatBot_HealthCare_8/obj/Debug/net8.0/Opus_ChatBot_HealthCare_8.AssemblyInfo.cs
/Opus_ChatBot_HealthCare_8/Opus_ChatBot_HealthCare_8/obj/Debug/net8.0/Opus_ChatBot_HealthCare_8.AssemblyInfoInputs.cache
*.cache
/Opus_ChatBot_HealthCare_8/Opus_ChatBot_HealthCare_8/obj/Debug/net8.0/Opus_ChatBot_HealthCare_8.csproj.FileListAbsolute.txt
*.json
